gradio
websockets>=13.0
librosa
soundfile
numpy
torch
torchvision
opencv-python-headless
pillow
tqdm
yacs
pyyaml
imageio
imageio-ffmpeg
av
face-alignment
scikit-image
omegaconf
einops
diffusers
accelerate
transformers
setuptools>=65.0.0
mmcv==2.1.0
